/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUNDO TOTAL BLACK */
body {
  background: #000;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
}

/* CENTRALIZAÇÃO */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* CARD */
.card {
  background: #0d0d0d;
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 40px rgba(255, 77, 109, 0.2);
}

/* TÍTULO */
h1, h2 {
  color: #ff4d6d;
  margin-bottom: 10px;
}

/* TEXTO */
p {
  opacity: 0.7;
  margin-bottom: 20px;
}

/* INPUTS */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #222;
  background: #111;
  color: #fff;
}

/* BOTÕES */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, #ff4d6d, #ff758f);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* LINKS */
a {
  display: block;
  margin-top: 15px;
  color: #aaa;
  text-decoration: none;
}

a:hover {
  color: #ff4d6d;
}
